{% extends "base.html.twig" %}

{% block body %}

<!-- Header -->
<header id="showcase" class="grid">
<div class="bg-image"><img src="{{ asset('images/home3.jpg') }}" class="home3" alt=""></div>

	<div class="content-wrap-head">
		<h1>Welcome to Aligarh Bookstore</h1>
		<div class="content-wrap">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus voluptatum voluptas eligendi, dolor nobis eveniet doloremque, nam maiores, quia blanditiis, enim quo quae eos. Eius 	saepe laboriosam veniam iste quos Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus odit, architecto assumenda repellendus quia laudantium cum doloribus nisi amet, quod hic qui, enim voluptatibus accusamus a libero quaerat nihil distinctio?</p>
		</div>
	</div>
</header>



<main id="main">
	<section id="section-a" class="grid">
		<div class="content-wrap">
			<h2 class="content-title">A place of Books</h2>
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla sapiente culpa accusamus, voluptatem mollitia dignissimos in nam, facere? Amet, in, sequi. Suscipit consequatur deleniti excepturi mollitia quibusdam magnam culpa esse.</p>
			</div>
		</div>
	</section>
	<section id="section-b" class="anim-lists hidden">
		<h2 style="text-align: center;">Core Books</h2>
		<div class="grid">
			<ul>
				<li>
					<div class="card">
						<img src="https://static.pexels.com/photos/159621/open-book-library-education-read-159621.jpeg" alt="">
						<div class="card-content">
							<h3 class="card-title">Mobile Application Development Book</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit quas pariatur, nemo dolor laboriosam, rerum doloribus eum eveniet, nobis quos voluptate temporibus dolorum repudiandae. Dolorum quis eaque ducimus eum.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="card">
						<img src="https://static.pexels.com/photos/24576/pexels-photo.jpg" alt="">
						<div class="card-content">
							<h3 class="card-title">Web Application Development Book</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit quas pariatur, nemo dolor laboriosam, rerum doloribus eum eveniet, nobis quos voluptate temporibus dolorum repudiandae. Dolorum quis eaque ducimus eum.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="card">
						<img src="https://static.pexels.com/photos/33085/knowledge-book-library-glasses.jpg" alt="">
						<div class="card-content">
							<h3 class="card-title">Machine Learning Development Book</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit quas pariatur, nemo dolor laboriosam, rerum doloribus eum eveniet, nobis quos voluptate temporibus dolorum repudiandae. Dolorum quis eaque ducimus eum.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section id="section-c" class="grid">
		<div class="content-wrap anim hidden">
			<h2 class="content-title">We pass all the books you need!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dolorum, perferendis quibusdam. Magni recusandae aperiam et blanditiis omnis, consectetur optio exercitationem aliquam, aspernatur facere, quisquam nulla eos. Aliquid, aperiam exercitationem?</p>
		</div>
	</section>
	<section id="section-d" class="grid">
		<div class="box anim-contact-us hidden">
			<h2 class="contact-title">Contact Us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eum iste omnis, quia suscipit in nam consequuntur nemo eius, quibusdam quisquam vero doloremque libero ea laboriosam! Delectus sequi nam, enim.</p>
			<p>contact@aligarhbookstore.com</p>
		</div>
		<div class="box anim-about-us hidden">
			<h2 class="content-title">About Us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas provident incidunt sequi illo ipsam quidem necessitatibus atque distinctio placeat neque vero, totam facere a in! Obcaecati eveniet, cumque repellat magni.</p>
		</div>
	</section>
</main>


<footer id="main-footer" class="grid">
	<div>Aligarh Bookstore</div>
	<div>
		Project by
		<a href="https://www.facebook.com/lahin31" target="_blank">Muhammad Lahin</a>
	</div>
</footer>



{% endblock %}
